#blog-container{
    display: flex;
    padding: 7vw;
    align-content:flex-end ;

}
#Blog{
    align-items: baseline;
}

.post img{ 
    width: 400px;
    height:200px;
 }
 #blog-container .cate{
    width: 20px;
    height: 20px;
 }
 .blog-container .posts{
    width: 400%;
 }

 .post {
    width: 800px;
    
 }
 #blog-container .blogs.posts h6{
    color: #29303b;
    padding: 15px 0 10px 0;
    font-size: larger;
 }
  .posts a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(21 21 100);
    color: white;
    border-radius: 5px;
    justify-content: space-between;
     margin-bottom: 200px ;
 }
 #blog-container .Cate h2{
    padding-bottom: 7px;

 }
 #blog-container .Cate  a{
    text-decoration: none;
    color: #737373;
    font-weight: 500;
    line-height: 35px;
 }
 .posts img{
    width: 700px;
    height: 400px;
    display: flex;
 }
 .posts {
    width: 800px;
    margin: 0 auto;
 }

 /* #blog-container .blogpost p{
    text-align: justify;
    padding-bottom: 60px !important;
    font-size: 20px;

 } */
 .posts p{
   width: 60%;

 }
