.form{
    
    margin-top: 350px;
    width:400px;
    height: 130px;

}
    
#maindiv{
    display: flex;
    height: 90px;
    margin-right: 150px;

}
p{
    font-size: large;
    margin-bottom: 50px;
}

#maindiv h1{
    margin: 0%;
    align-items: center;
}

#button{
    background-color: var(--main-color);
    color: white;
}